[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "*"
tqdm = "*"
torch = "*"
numpy = "*"
torchvision = "*"
pandas = "*"
matplotlib = "*"
huggingface-hub = "*"
vadersentiment = "*"
tensorflow = "*"
tensorboard = "*"
segtok = "*"
transformers = "*"
keras = "*"
nltk = "*"
sentencepiece = "*"
ipykernel = "*"
ipywidgets = "*"
pytorch-lightning = "*"
jupyter = "*"
pudb = "*"
einops = "*"

[dev-packages]

[requires]
python_version = "3.9"
